@model IEnumerable<AdvancedDatabaseAndORMConcepts_Final_Project.Models.List>;

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Number of Items
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (List l in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => l.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => l.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => l.Items)
                </td>
                <td>
                    <a asp-controller="lists" asp-action="Detail" asp-route-id="@l.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Lists" asp-action="Create" class="btn btn-primary">Create List</a>


