@model AdvancedDatabaseAndORMConcepts_Final_Project.Models.List

@{
    ViewData["Title"] = "Delete List";
}

<h1>Delete list</h1>

<h3>Are you sure you want to delete '@Model.Title' list</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ListId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Back to Lists</a>
    </form>
</div>
