@model AdvancedDatabaseAndORMConcepts_Final_Project.Models.List

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListId)
            </th>
            <th>
                Number of Items
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.ListId)
            </td>
            <td>
                0
            </td>
        </tr>
    </tbody>
</table>

<a asp-action="Delete" asp-route-id="@Model?List.Id" class="btn btn-danger">Delete List</a>
<a asp-controller="home" asp-action="Index" class="btn btn-secondary">Home</a>

<hr />

<h2>Tasks To Do</h2> 
<a asp-action="AddItem" class="btn btn-primary" asp-route-id="@Model.ListId">Add Item</a>

             